body{
    background-color: rgb(156, 148, 148);
    margin: 0px;
  
    border: 0px;
}
.content{
    width: 50%;
    background-color: rgb(243, 236, 227);
    margin: auto;
}
.back{
    margin:5px auto;
    height: 190px;
    width: 500px;
}
.back1{ 
    background-color: rgb(201, 51, 51);
}
.back2{
    background-image: url('../images/2.jpg');
}
.back3{
    background-image: url('../images/3.jpg');
}
.back4{
    background-image: url('../images/4.jpg');
}
.back1 h1{
    padding-top: 150px;
 }
.back2 h1,.back3 h1, .back4 h1{
    background-color: darkgray;
}
.back2 h1{
    position: relative;
    top: 153px;
}
.back3 h1{
    position: relative;
    top: 15px;
}
.back3 h2{
    position: relative;
    top: -60px;
    left: 10px;
}
.back3 img{
    position: relative;
    left: 0px;
    top:10px;
}
.back4 h1{
    position: relative;
    top: -82px;
}
.back4 h2{
    position: relative;
    top: -60px;
    left: 10px;
}
#back4-ruban{
    position: relative;
    left: 0px;
    top:10px;
}
#back4-mark{
    position: relative;
    top: -135px;
    left: 450px;
}